@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Widgets.LiveChatInc/Content/css/admin.css");
}
@model Nop.Plugin.Widgets.LiveChatInc.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using System.Web.Mvc.Html

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })


<script type="text/javascript">
    function showAlert(text_to_put_in_the_box, alert) {
        var alertBox = $('<div class="alert ' + (alert || false ? '  alert-danger' : ' alert-success') + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span></span></div>');

        alertBox.find('span').text(text_to_put_in_the_box);
        alertBox.prependTo('.wrapper>.content-wrapper');

		setTimeout(function () {
            alertBox.addClass("fadeout");
		},5000);

		setTimeout(function () {
            alertBox.remove();
		},5000);
	}

	function addHandlerToRadioCart(radios, i) {
		radios[i].addEventListener("click", function() {
			if(radios[i].value==="0"){
				document.getElementById("cart_radios").style.display = "none";
			}else if(radios[i].value === "on") {
				document.getElementById("cart_radios").style.display = "block";
			}
		});
	}

    $(document).ready(function () {
		var login_with_livechat = document.getElementById('login-with-livechat');

		var sendMessage = function(msg) {
			login_with_livechat.contentWindow.postMessage(msg, '*');
		};

		var logoutLiveChat = function() {
			sendMessage('logout');
		};

        function receiveMessage(event) {
            if (!event.data)
                return;

			var livechatMessage = JSON.parse(event.data);

			if (livechatMessage.type === 'logged-in' && livechatMessage.eventTrigger === 'click') {
				$('iframe#login-with-livechat').addClass('hidden');
                $('.progress-button').removeClass('hidden');
                setTimeout(function () {
                    $('#@Html.FieldIdFor(model => model.License.Login)').val(livechatMessage.email);
                    $('#@Html.FieldIdFor(model => model.License.License)').val(livechatMessage.license);

                    var form = $('#licenseInformationForm').serialize();

					$.ajax({
						type: 'POST',
						url: '@Url.RouteUrl("Plugin.Widgets.LiveChatInc.SetLicenseInformation")',
                        data: form,
					})
                    .done(function(data) {
                        showAlert('@T("Plugins.Widgets.LiveChatInc.SuccessfullyAdded")');

						$('#after_login_bar').removeClass("hidden");
						$('#before_login_bar').addClass("hidden");
						$('iframe#login-with-livechat').removeClass('hidden');
						$('.progress-button').addClass('hidden');
						$('#login_email').text(livechatMessage.email);
					})
					.fail(function(data) {
						document.getElementsByClassName('alert-success')[0].style.display = "block";
					});
				},1500);
			}
		}

		window.addEventListener("message", receiveMessage, false);

		var livechatLogin = "@Model.License.Login";

		if(livechatLogin === "" || livechatLogin === null) {
			document.getElementById('login-with-livechat').classList.remove("hidden");
			document.getElementById("login_form").classList.remove("hidden");
			document.getElementById("after_login_bar").classList.add("hidden");
			document.getElementById("before_login_bar").classList.remove("hidden");
			} else {
			document.getElementById('login-with-livechat').classList.add("hidden");
			document.getElementById("login_form").classList.add("hidden");
			document.getElementById("after_login_bar").classList.remove("hidden");
			document.getElementById("before_login_bar").classList.add("hidden");
        }

        $("input[name='delete_settings']").on('click', function (e) {
            e.preventDefault();

            $('#@Html.FieldIdFor(model => model.License.Login)').val('');
            $('#@Html.FieldIdFor(model => model.License.License)').val('');
            $('#@Html.FieldIdFor(model => model.CartUpdateInterval)').val("0");
            $('#@Html.FieldIdFor(model => model.HideOnMobile)').prop("checked",false);
            $('#@Html.FieldIdFor(model => model.DisableSoundsForVisitor)').prop("checked", false);

            var formEl = $(this).parents('form');
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("Plugin.Widgets.LiveChatInc.ResetSettings")',
                data: formEl.serialize(),
            }).done(function (data) {
                    if (data.success === true) {
                        $('#before_login_bar').removeClass("hidden");
                        $('#login-with-livechat').removeClass("hidden");
                        $('#radios').removeClass("hidden");
                        $('#login_form').removeClass("hidden");
                        $('#after_login_bar').addClass("hidden");
                        showAlert('@T("Plugins.Widgets.LiveChatInc.SettingsReset")');
                        logoutLiveChat();


                    }
                });
        });
	});
</script>


@using (Html.BeginRouteForm("Plugin.Widgets.LiveChatInc.SetLicenseInformation", FormMethod.Post, new { id = "licenseInformationForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.License.Login)
    @Html.HiddenFor(model => model.License.License)
    @Html.HiddenFor(model => model.License.Version)
    @Html.OverrideStoreCheckboxFor(model => model.License.Login_OverrideForStore, model => model.License.Login, Model.ActiveStoreScopeConfiguration)
    @Html.OverrideStoreCheckboxFor(model => model.License.License_OverrideForStore, model => model.License.License, Model.ActiveStoreScopeConfiguration)
    @Html.OverrideStoreCheckboxFor(model => model.License.Version_OverrideForStore, model => model.License.Version, Model.ActiveStoreScopeConfiguration)

    <div class="panel-group @Html.Raw(!string.IsNullOrEmpty(Model.License.Login)?"hidden":string.Empty)" id="before_login_bar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                     <img class="livechat_logo2" alt="livechat logo" src="@Url.Content("~/Plugins/Widgets.LiveChatInc/Content/img/livechat-integrates-with-nopcommerce.png")"/>
                    <div id="login_form">
                        <div class="progress-button hidden">
                            @T("Plugins.Widgets.LiveChatInc.Saving")
                        </div>
                        <div  style="width: 204px;margin: auto; overflow: visible;">
                            <iframe id="login-with-livechat" src="https://addons.livechatinc.com/sign-in-with-livechat"> </iframe>
                        </div>
                    </div>
                    <div class="or-delimiter">@T("Plugins.Widgets.LiveChatInc.Or")</div>
                    <div id="livechat_link" style="font-size: 15px; margin-top:4px; text-align:center;">
                        <a href="https://my.livechatinc.com/signup?utm_source=nopcommerce.com&utm_medium=integration&utm_campaign=nopcommerce_integration" target="_blank">@T("Plugins.Widgets.LiveChatInc.CreateAccount")</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="text-align: center;">
                        <img class="livechat_screenshot" src="@Url.Content("~/Plugins/Widgets.LiveChatInc/Content/img/livechat-app.png")" alt="livechat app" />
                        <p style="font-size:16px;">@T("Plugins.Widgets.LiveChatInc.CheckOutApps") <a href="https://www.livechatinc.com/applications/?utm_source=nopcommerce.com&utm_medium=integration&utm_campaign=nopcommerce_integration" target="_blank">@T("Plugins.Widgets.LiveChatInc.DesktopOrMobile")</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group @Html.Raw(string.IsNullOrEmpty(Model.License.Login)?"hidden":string.Empty)" id="after_login_bar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div style="font-size: medium; line-height: 1.6em;">
                            <span style="text-align: right; font-size: medium; margin-top: 5px;">@T("Plugins.Widgets.LiveChatInc.CurrentlyUsedAccount") </span><span style="font-size: medium;"><strong> <span id="login_email">@Model.License.Login</span></strong> @T("Plugins.Widgets.LiveChatInc.LiveChatAccount")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.OverrideStoreCheckboxFor(model => model.CartUpdateInterval_OverrideForStore, model => model.CartUpdateInterval, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.CartUpdateInterval)
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.CartUpdateInterval, Model.TrackingCartOptions)
                            @Html.ValidationMessageFor(model => model.CartUpdateInterval)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.OverrideStoreCheckboxFor(model => model.HideOnMobile_OverrideForStore, model => model.HideOnMobile, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HideOnMobile)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.HideOnMobile)
                            @Html.ValidationMessageFor(model => model.HideOnMobile)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.OverrideStoreCheckboxFor(model => model.DisableSoundsForVisitor_OverrideForStore, model => model.DisableSoundsForVisitor, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.DisableSoundsForVisitor)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.DisableSoundsForVisitor)
                            @Html.ValidationMessageFor(model => model.DisableSoundsForVisitor)
                        </div>
                    </div>
                    <div id="reset_settings" class="col-md-12">
                        <div class="form-group">
                            <div style="margin:15px 0;" class="col-xs-12">
                                <label style="text-align:left; margin-top: 2px; font-weight:normal;font-size:11.9px;">
                                    @T("Plugins.Widgets.LiveChatInc.ChangeAccount") <span>
                                    <input type="submit" name="delete_settings" value="@T("Plugins.Widgets.LiveChatInc.ResetSettings")" />
                                </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-wrapper">
                        <div style="text-align: center;">
                            <img class="livechat_screenshot" src="@Url.Content("~/Plugins/Widgets.LiveChatInc/Content/img/livechat-app.png")" alt="livechat app" />
                            <p style="font-size:14px;">
                                <a href="https://my.livechatinc.com?utm_source=nopcommerce.com&utm_medium=integration&utm_campaign=nopcommerce_integration" target="_blank">
                                    @T("Plugins.Widgets.LiveChatInc.UseOurWebApp")
                                </a> @T("Plugins.Widgets.LiveChatInc.OrCheckOutApps") <a href="https://www.livechatinc.com/applications/?utm_source=nopcommerce.com&utm_medium=integration&utm_campaign=nopcommerce_integration" target="_blank">@T("Plugins.Widgets.LiveChatInc.DesktopOrMobile")</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
